RAPIDAPI_KEY=your_rapidapi_key_for_netlify_functions
RAPIDAPI_HOST=imdb236.p.rapidapi.com

VITE_RAPIDAPI_KEY=your_rapidapi_key_for_local_vite_only
VITE_RAPIDAPI_HOST=imdb236.p.rapidapi.com
VITE_USE_NETLIFY_FUNCTIONS=false
